.pulse-item-updates-counter {
  margin-left: auto;
  margin-right: 40px;
  background: radial-gradient( 5px -10px, circle, white 8%, rgba(0,0,0,0.3) 26px );
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 1px 1px 1px black;
  color: white;
  font-weight: bold;
  font-size: 14px;
  height: 24px;
  min-width: 14px;
  padding: 8px 4px 0 4px;
  text-align: center;
  background-color: rgba(255,255,255, .3);
}
